<div class="chart-container">
  @if(isLoading()) {
  <div class="chart-loading">
    <div class="spinner"></div>
    <p>Loading data...</p>
  </div>
  } @else if (chartError()) {
  <div class="chart-error">
    <h3>Oops...</h3>
    <p>{{ chartError() }}</p>
    <button class="btn btn-secondary" (click)="retry()">Retry</button>
  </div>
  } @else if (country && chartData().length > 0) {
  <ngx-charts-line-chart
    [results]="chartData()"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [timeline]="timeline"
    [autoScale]="true"
    [scheme]="colorScheme"
  >
  </ngx-charts-line-chart>
  } @else {
  <div class="no-data">
    <p>No data available for this country</p>
    <button class="btn btn-primary" routerLink="/">Go back</button>
  </div>
  }
</div>
