::ng-deep {
  .ngx-charts-tooltip-content::after,
  .ngx-charts-tooltip-content::before {
    display: none !important;
  }

  g[ngx-charts-axis-label] text {
    fill: #a0aabe;
    font-size: 1.5rem !important;
  }

  .ngx-charts-tooltip-content {
    background-color: var(--primary-color) !important;
    color: white !important;
    border-radius: 8px !important;
    border: none !important;

    .tooltip-val {
      font-weight: 500 !important;

      &::before {
        content: "🏅 ";
        margin-right: 4px;
      }
    }
  }
  .position-top .tooltip-caret {
    border-top-color: var(--primary-color) !important;
  }

  .position-right .tooltip-caret {
    border-right-color: var(--primary-color) !important;
  }
  ngx-charts-line-chart {
    position: relative;
    left: -3%;
    @media (max-width: 768px) {
      left: -8%;
    }
  }
}
